/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
	padding-top: 4.5rem;
}


/*
 	* Sidebar
*/
.navbar-brand {
	display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
	line-height: inherit;
	img {
		display:inline-block!important;
		vertical-align:top!important;
	}
}
.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	// z-index: 1000;	
	padding: 20px 0;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	border-right: 1px solid #eee;
	.nav {
		margin-bottom: 20px;
	}
	.nav-item {
		width: 100%;
	}
	.nav-item + .nav-item {
		margin-left: 0;
	}
	.nav-link {
		border-radius: 0;
		color: rgba(0,0,0,.55);
	}
	.nav-link:hover {
		color: rgba(0,0,0,.85);
	}
	.nav-link.active {
		color: rgba(0,0,0,.85);
	}
}
